/* Spinner and Curtain */

.spinner {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #dbb434;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  position: fixed;
  top: 35%;
  left: 45%;
  z-index: 99;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
}

/* Modifications to Bulma library */

@media screen and (min-width: 769px), print {
  .modal-content,
  .modal-card {
    width: 80%;
  }
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.4);
}

.tabs li.is-active a {
  border-bottom-color: #dbb434;
  color: #dbb434;
}
