$def with (health)
<table class="table is-fullwidth is-hoverable">
    <thead>
        <tr>
            <th></th>
            <th class="has-text-right">used</th>
            <th class="has-text-right">free</th>
            <th class="has-text-right">total</th>
            <th class="has-text-right">temp</th>
        </tr>
    </thead>
    <tbody>
        $if 'hd.free' in health:
            <tr>
                <td>Shares</td>
                <td class="has-text-right">${format_size(health['hd.used'])}</td>
                <td class="has-text-right">
                    ${format_size(health['hd.free'])}
                    <progress class="progress is-small ${qualify_load(health['hd.load'])}" value="$health['hd.load']" max="100"></progress>
                </td>
                <td class="has-text-right">${format_size(health['hd.total'])}</td>
                <td class="has-text-right">${format_temp(health.get('hd.temp'))}</td>
            </tr>
            $if 'hd.share.total' in health:
                <tr>
                    <td><span id="sse-share-connected">&nbsp;&nbsp;&nbsp;&nbsp;</span>share</td>
                    <td class="has-text-right">${format_size(health['hd.share.total'])}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            $if 'hd.timemachine.total' in health:
                <tr>
                    <td><span id="sse-timemachine-connected">&nbsp;&nbsp;&nbsp;&nbsp;</span>timemachine</td>
                    <td class="has-text-right">${format_size(health['hd.timemachine.total'])}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        $if 'bk.free' in health:
            <tr>
                <td>Backup</td>
                <td class="has-text-right">${format_size(health['bk.used'])}</td>
                <td class="has-text-right">
                    ${format_size(health['bk.free'])}
                    <progress class="progress is-small ${qualify_load(health['bk.load'])}" value="$health['bk.load']" max="100"></progress>
                </td>
                <td class="has-text-right">${format_size(health['bk.total'])}</td>
                <td class="has-text-right">${format_temp(health.get('bk.temp'))}</td>
            </tr>
    </tbody>
</table>