$def with (logs)
<div class="table-container">
    <table class="table is-fullwidth is-hoverable"> <!-- style="display: block; height: 600px; overflow: auto;" -->
        <thead>
            <tr>
                <th>time</th>
                <th>source</th>
                <th>text</th>
                <th>tags</th>
            </tr>
        </thead>
        <tbody>
            $for l in logs:
                $if l.matches("alert.*"):
                    <tr class="has-background-danger-light">
                $else:
                    <tr>
                <td>$l.iso_timestamp(timespec='seconds')</td>
                <td>$l.topic</td>
                <td>${format_data(l.data())}</td>
                <td>
                    $for t in l.tags():
                        $t<br>
                </td>
                </tr>
        </tbody>
    </table>
</div>