$def with (health)
<table class="table is-fullwidth is-hoverable">
    <thead>
        <tr>
            <th>LightCapsule</th>
            <th class="has-text-right">used</th>
            <th class="has-text-right">free</th>
            <th class="has-text-right">total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Memory</td>
            <td class="has-text-right">${format_size(health['lc.mem.used'])}</td>
            <td class="has-text-right">
                ${format_size(health['lc.mem.free'])}
                <progress class="progress is-small ${qualify_load(health['lc.mem.load'])}" value="$health['lc.mem.load']" max="100"></progress>
            </td>
            <td class="has-text-right">${format_size(health['lc.mem.total'])}</td>
        </tr>
        $if 'lc.free' in health:
            <tr>
                <td>Storage</td>
                <td class="has-text-right">${format_size(health['lc.used'])}</td>
                <td class="has-text-right">
                    ${format_size(health['lc.free'])}
                    <progress class="progress is-small ${qualify_load(health['lc.load'])}" value="$health['lc.load']" max="100"></progress>
                </td>
                <td class="has-text-right">${format_size(health['lc.total'])}</td>
            </tr>
        $if 'lc.swap.total' in health and health['lc.swap.total'] > 0:
            <tr>
                <td>Swap</td>
                <td class="has-text-right">${format_size(health['lc.swap.used'])}</td>
                <td class="has-text-right">
                    ${format_size(health['lc.swap.free'])}
                    <progress class="progress is-small ${qualify_load(health['lc.swap.load'])}" value="$health['lc.swap.load']" max="100"></progress>
                </td>
                <td class="has-text-right">${format_size(health['lc.swap.total'])}</td>
            </tr>
    </tbody>
    $if health['bc.online']:
        <thead>
            <tr>
                <th>BackupCompanion</th>
                <th class="has-text-right">used</th>
                <th class="has-text-right">free</th>
                <th class="has-text-right">total</th>
            </tr>
        </thead>
        <tbody>
            $if 'bc.mem.free' in health:
                <tr>
                    <td>Memory</td>
                    <td class="has-text-right">${format_size(health['bc.mem.used'])}</td>
                    <td class="has-text-right">
                        ${format_size(health['bc.mem.free'])}
                        <progress class="progress is-small ${qualify_load(health['bc.mem.load'])}" value="$health['bc.mem.load']" max="100"></progress>
                    </td>
                    <td class="has-text-right">${format_size(health['bc.mem.total'])}</td>
                </tr>
            $if 'bc.free' in health:
                <tr>
                    <td>Storage</td>
                    <td class="has-text-right">${format_size(health['bc.used'])}</td>
                    <td class="has-text-right">
                        ${format_size(health['bc.free'])}
                        <progress class="progress is-small ${qualify_load(health['bc.load'])}" value="$health['bc.load']" max="100"></progress>
                    </td>
                    <td class="has-text-right">${format_size(health['bc.total'])}</td>
                </tr>
            $if 'bc.swap.total' in health and health['bc.swap.total'] > 0:
                <tr>
                    <td>Swap</td>
                    <td class="has-text-right">${format_size(health['bc.swap.used'])}</td>
                    <td class="has-text-right">
                        ${format_size(health['bc.swap.free'])}
                        <progress class="progress is-small ${qualify_load(health['bc.swap.load'])}" value="$health['bc.swap.load']" max="100"></progress>
                    </td>
                    <td class="has-text-right">${format_size(health['bc.swap.total'])}</td>
                </tr>
        </tbody>
</table>