$def with (backups)
<article>
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <div>
                    <p class="title is-4"><span class="icon is-small"><img src="/res/folder.svg" /></span>&nbsp;&nbsp;Backups</p>
                </div>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <div>
                    <a class="icon is-small" id="a-backup-reload"><img src="/res/reload.svg" /></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <table class="table is-fullwidth is-hoverable">
            <thead>
                <tr>
                    <th>archive</th>
                    <th>files</th>
                    <th>size</th>
                </tr>
            </thead>
            <tbody>
                $for b in backups:
                <tr onclick="mount_backup('$b['name']');">
                    <td>$b['name']</td>
                    <td>$b['nfiles']</td>
                    <td>${format_size(b['original_size'])}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal" id="archive-modal">
        <div class="modal-background" id="archive-modal-close"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title" id="archive-modal-title">Modal title</p>
          </header>
          <section class="modal-card-body" id="archive-modal-content">
            <!-- Content ... -->
          </section>
          <footer class="modal-card-foot">
          </footer>
        </div>
    </div>
</article>