<article>
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <div>
                    <p class="title is-4"><span class="icon is-small"><img src="/res/settings.svg" /></span> Settings</p>
                </div>
            </div>
        </div>
        <div class="level-right">
        </div>
    </nav>
    <div class="content">
        <table>
            <tr>
                <td>Accessory PIN</td>
                <td>862-62-484</td>
            </tr>
        </table>
        <img src="/res/hap-pin.png"/>
    </div>
</article>