<!-- DISKS -->

<article>
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <div>
                    <p class="title is-4"><span class="icon is-small"><img src="/res/file-tray-stacked.svg" /></span>&nbsp;&nbsp;<a id="a-disks-title" class="has-text-black">Disks</a></p>
                </div>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">shares</p>
                    <p id="sse-hd-state"><a class="icon is-small" id="a-hd-power"><img src="/res/power.svg" /></a></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">backup</p>
                    <p id="sse-bk-state"><a class="icon is-small" id="a-bk-power"><img src="/res/power.svg" /></a></p>
                </div>
            </div>
        </div>
    </nav>
    <div class="content" id="sse-disks-content"></div>
</article>

<hr/> <!-- SYSTEM -->

<article>
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <div>
                    <p class="title is-4"><span class="icon is-small"><img src="/res/podium.svg" /></span>&nbsp;&nbsp;<a id="a-system-title" class="has-text-black">System</a></p>
                </div>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">load</p>
                    <p id="sse-system-load"></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">temp</p>
                    <p id="sse-system-temp"></p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">time</p>
                    <p id="sse-system-time"></p>
                </div>
            </div>
        </div>
    </nav>
    <div class="content is-hidden" id="sse-system-content"></div>
</article>

<hr/> <!-- LOG -->

<article>
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <div>
                    <p class="title is-4"><span class="icon is-small"><img src="/res/list.svg" /></span>&nbsp;&nbsp;<a id="a-log-title" class="has-text-black">Log</a></p>
                </div>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item has-text-centered">
                <div>
                    <a class="icon is-small" id="a-log-reload"><img src="/res/reload.svg" /></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="content is-hidden" id="sse-log-content"></div>
</article>
